#outer {
  max-width: 960px;
  margin: 0 auto;
}

#inner {
  margin: 0 32px;
}

header {
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

header h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header h1 .head-icon {
  width: 48px;
  height: 48px;
  background: url("/icon.svg");
  background-size: contain;
}
header h1 .title {
  margin-inline-start: 8px;
}

.userinfo {
}